<h1>My tasks</h1>

<% @tasks.each do |task| %>
<ul>
  <%= link_to task_path(task) do %>
    <li><%=task.title%>   Details:<%=task.details%>"</li>
</ul>
  <% end %>
 <%= link_to "Delete", task_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<% end %>
  <%= link_to "New Task", new_task_path, class:"btn btn-primary"%>
